root = true


[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{xml,fxml,css}]
indent_size = 2
charset = utf-8

[*.java]
indent_size = 4
charset = utf-8

[*.properties]
charset = utf-8
